@charset "UTF-8";
/* MAPS - VARIABLES */
nav div div {
  padding-left: 30%; }

nav div div ul li a {
  color: black !important; }

/* NAVEGADOR */
.navbar-brand {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  color: #ffffff !important; }

.nav-link {
  color: #ffffff !important; }

a:hover {
  background-color: #ffc004; }

/* ANIMACIÓN DEL LOGOTIPO */
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* ANIMACION DEL TITULO */
.tituloAnimacion {
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: initial;
  animation-name: aparecer2; }

@keyframes aparecer2 {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.bodyPaginas {
  background-color: #000000; }

.margenes {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  background-color: #000000;
  color: #ffffff;
  border: 60% solid black; }

.h2Paginas {
  margin: 2%; }

.h4Paginas {
  margin: 2%; }

h1 {
  display: flex;
  font-size: 500%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  color: #ffffff; }

/* CONTÁCTENOS */
.formularioContactenos {
  margin: 1%;
  font-size: 250%; }

/* MI CUENTA */
.formularioMiCuenta {
  margin: 1%;
  font-size: 250%; }

/* MEDIA QUERYS TITULOS */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 300%; } }

@media only screen and (max-width: 460px) {
  h1 {
    font-size: 250%; } }

/* MEDIA QUERYS MARGENES */
@media only screen and (max-width: 768px) {
  .margenes {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    background-color: #000000;
    color: #ffffff;
    border: 60% solid black; } }

@media only screen and (max-width: 460px) {
  .margenes {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    background-color: #000000;
    color: #ffffff;
    border: 60% solid black; } }

.containerCarruselIndex {
  margin-top: 1%; }

.containerCardsIndex {
  margin-top: 1%; }

.card {
  border: solid 1px black; }

/* MEDIA QUERYS CARDS */
@media only screen and (max-width: 768px) {
  .containerCardsIndex {
    margin-left: 15%; } }

@media only screen and (max-width: 480px) {
  .containerCardsIndex {
    margin-left: 8%; } }

/* FOOTER */
.mediosDePagoIndex {
  margin-top: 1%;
  background-color: #000000;
  border: solid 1px black; }

.mediosDePagoIndex a {
  margin-right: 5px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  font-weight: lighter; }

.redesSocialesIndex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #000000;
  border: solid 1px black; }

.redesSocialesIndex a {
  margin-right: 5px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  font-weight: lighter; }

h4 {
  color: #ffffff; }

/* MEDIA QUERYS FOOTER */
/* FORMULARIO MI CUENTA */
.containerFormulario, .containerTablaJuego {
  color: #ffffff;
  background-color: #000000; }

.accordion-item {
  background-color: #000000;
  color: #ffffff; }

/* TABLAS RECIENTEMENTE LANZADOS */
.containerTablaJuego {
  /* EXTEND */
  font-weight: 100;
  margin: 2%; }

.table {
  color: #ffffff; }

/* MEDIA QUERYS CONTACTENOS */
@media only screen and (max-width: 768px) {
  .formularioContactenos input {
    width: 100%; }
  textarea {
    width: 100%; } }

/* MEDIA QUERYS MI CUENTA */
@media only screen and (max-width: 768px) {
  .formularioMiCuenta input {
    width: 100%; } }

/* MIXIN */
.mediosDePagoIndex {
  font-weight: bolder; }

/* MEDIA QUERYS RECIENTEMENTE LANZADOS */
@media only screen and (max-width: 768px) {
  img {
    width: 60%;
    height: 60%; } }
