nav div div{
    padding-left: 30%;
}

nav div div ul li a{
    color: black !important;
}

.navbar-brand{
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.bodyPaginas {
    background-image: url(../images/fondo2.jpg);
}

.margenes{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    background-color: white;
    border: 60% solid black;
}
h1{
    display: flex;
    font-size: 500%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.mediosDePagoIndex {
    margin-top: 1%;
    background-color: white;
    border: solid 1px black;}
    .mediosDePagoIndex a {
        margin-right: 5px;
        margin-left: 5px;
        text-decoration: none;
        color: black;
        font-weight: lighter;
    }
    .redesSocialesIndex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        background-color: white;
        border: solid 1px black;}
        .redesSocialesIndex a {
            margin-right: 5px;
            margin-left: 5px;
            text-decoration: none;
            color: black;
            font-weight: lighter;
        }